<div class="container">
    <div class="row">
        <div class="col-md-12 table-bordered">
            <div class="product-menu">Logo and Menu</div>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
<div class="container">
    <div class="row">
        <div class="col-md-12 table-bordered">
            <img class="img-fluid center-block product-item" src="http://placehold.it/1110x480" alt="">
        </div>
    </div>
    <!-- ./row -->
    <div class="row">
        <div class="col-md-3 table-bordered">
            <div class="card">
                <img class="card-img-top center-block product-item" src="http://placehold.it/253x171" alt="Bakery">
                <div class="card-block">
                    <h4 class="card-title">Bakery</h4>
                    <p class="card-text">The best cupcakes, cookies, cakes, pies, fresh bread, biscotti, muffins, bagels, fresh coffee and more.</p>
                    <a href="#" class="btn btn-primary">Browse</a>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-md-3 table-bordered">
            <div class="card">
                <img class="card-img-top center-block product-item" src="http://placehold.it/253x171" alt="Takeaway">
                <div class="card-block">
                    <h4 class="card-title">Takeaway</h4>
                    <p class="card-text">It's consistently excellent, dishes are superb and healthily cooked with high quality ingredients.</p>
                    <a href="#" class="btn btn-primary">Browse</a>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-md-3 table-bordered">
            <div clas="card">
                <img class="card-img-top center-block product-item" src="http://placehold.it/253x171" alt="Diary">
                <div class="card-block">
                    <h4 class="card-title">Diary</h4>
                    <p class="card-text">A dairy product is food produced from the milk of mammals.<br><br></p>
                    <a href="#" class="btn btn-primary">Browse</a>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-md-3 table-bordered">
            <div class="card">
                <img class="card-img-top center-block product-item" src="http://placehold.it/253x171" alt="Meat">
                <div class="card-block">
                    <h4 class="card-title">Meat</h4>
                    <p class="card-text">Only superior quality beef, lamb, and pork.<br><br><br></p>
                    <a href="#" class="btn btn-primary">Browse</a>
                </div>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- ./row -->
</div>
<!-- /.container -->
